.git
.gitignore
README.md
.env
.env.example
Dockerfile
.dockerignore
build/
.dart_tool/
.packages
.pub-cache/
.pub/
coverage/
doc/api/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
*.log
*.tmp
node_modules/